/* This is to resize the navbar*/
nav {
  height: 100px;
  line-height: 100px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  height: 100px;
  line-height: 100px;
}

nav .button-collapse i {
  height: 100px;
  line-height: 100px;
}

nav .brand-logo {
  font-size: 3rem;
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
  }
}

.navtext {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
}

/*This is to remove the materialize shadow off anything*/
.no-shadows {
  box-shadow: none !important;
}

/*Font, sizing and colouring of text*/
h2 {
  color: #8080cc;
}

p {
  color: #616161;
  font-size: 20px;
}

h4 {
  color: #8080cc;
}

.hvdbcolour {
  color: #8080cc;
}

/*Align cards*/
.card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
